* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flip-card-container {
  /*card width and height*/
  width: 320px;
  height: 190px;
  /*the container is transparent*/
  background-color: transparent;
  /*3D effect on flip*/
  perspective: 1000px;
}

/*to position the front and back of the card*/
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/*rotate 180deg the flip-card-inner on flip-card-container:hover */
/*rotate right to left (-180deg)*/
.flip-card-container:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.front-card, .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  /*on flip hide the back face*/
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front-card {
  background-color: aquamarine;
}

.back-card {
  /*must rotate itself to prevent the reverse text*/
  transform: rotateY(180deg);
  background-color: orangered;
}